.add-button-wrap {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: clamp(2rem, 1vw + 2rem, 2.5rem);
  color: #fff;
  background-color: rgb(117, 123, 240);
  border-radius: 50%;
  z-index: 99999;
  padding: 0.5rem;
  cursor: pointer;
}


.addIcon {
  position: relative;
  font-size: #fff;
}

@media screen and (min-width: 768px) {
  .add-button-wrap {
    padding: 0.8rem;
  }
}